name: maven
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  maven:
    strategy:
      matrix:
        os: [ ubuntu-24.04, windows-2022 ]
        include:
          - os: ubuntu-24.04
            mvn: "./mvnw"
          - os: windows-2022
            mvn: "./mvnw.cmd"
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: maven
      - name: Verify
        run: ${{ matrix.mvn }} clean verify
